body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-desktop.svg");
    font-weight: 400;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    display: block;
    width: 90%;
    height: 80%;
    text-align: left;
    margin: auto;
    padding-top: 2em;
}

.section{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}



.first-section img{
    width: 90%;
    
}

.second-section h1{
    font-weight: bold;
    color: white;
    font-size: 2.5em;
}

.second-section p{
    font-size: 1.10em;
    color: white;
    font-weight: lighter;
    line-height: 2em;
}
.second-section button{
    width: 12em;
    height: 3em;
    border-radius: 50px;
    background-color: white;
    font-size: 1.25em;
    color: hsl(257, 40%, 49%);
    border: none;
    box-shadow: 2px 2px 5px hsl(257, 53%, 31%);
}

section.icons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 4em;
    margin: 0px 4em 0px 0px;
    
}

section.icons a{
    font-size: 2em;
    color: white;
    margin-left: 2em;

}

section.icons a:hover{
    color: hsl(300, 69%, 71%);
}
.second-section button:hover{
    background-color:hsl(300, 69%, 71%) ;
    color: white;
}

@media (min-width: 375px) and (max-width: 1000px){
    body{
        width: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
        display: flex;
        flex-direction: column;
    }
    .section{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
        align-items: center;
        margin-top: 4em;
    }
    .first-section img{
        width: 100%;
        
    }
    nav{
        width: 80%;
    }
    section.icons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4em 4em; 
    }
}
